@model IEnumerable<Student>

@{
    ViewData["Title"] = "Home Page";
}


<h2>Student(s) Details</h2>

<a href="@Url.Action("Create")">Create</a>
<table>
    
    <tr>
        <th>StudentId</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        @*
        <th>Course</th> *@
        <th>Actions</th>
    </tr>

    @foreach(var student in Model)
    {
    <tr>
        <td>@student.StudentId</td>
        <td>@student.Name</td>
        <td>@student.PhoneNumber</td>
        <td>@student.Address</td>
        <td><a href="@Url.Action("Detail",new{id = student.StudentId})">Detail</a> | <a href="@Url.Action("Edit",new{id = student.StudentId})">Edit</a> | <a href="@Url.Action("Delete",new{id = student.StudentId})">Delete</a></td>
    </tr>
    }
</table>



